[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pygame = "2.0.1"

[dev-packages]
pyinstaller = "4.3"

[scripts]
start = "pipenv run python main.py"
build = "pipenv run pyinstaller --name Werewolf --onefile --noconsole --clean main.py"

[requires]
python_version = "3.9"
